body {
    min-width: 220px;
    overflow-x: hidden;
    /*background-color: #333561;*/
    background-color: #B0DEED;
    /*color: #7df3e8;*/
    color: #333561;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

hr{
    border: solid #333561 1px;
}

input{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;

    width: 80px;
    height: 26px;

    border: solid gray 1px;
    background-color: white;
    color: #333561;

    border-radius: 4px;
    padding: 2px;
}

input[type="button"]{
    width: 85px;
    height: 26px;

    background-color: #fd004b; 
    border: 0px;
}

#container{
    width: 350px;

    padding: 20px;    
    border: solid #333561 1px;
}

.question{
    width: 200px;

    display: inline-block; 
    vertical-align: middle;
    text-align: right;
    /*border: solid #333561 1px;*/
    padding: 2px;
}
.answer{
    /*border: solid #333561 1px;*/
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
}

